<h2 class="col-12 mb-3 pl-0">Cadastrar Pet</h2>
<form
  [formGroup]="petForm"
  action=""
  class="flex justify-content-between"
  action=""
  (ngSubmit)="onSubmit()"
>
  <fieldset class="col-8 p-0">
    <span class="p-float-label">
      <input
        pInputText
        name="nome"
        id="nome"
        type="text"
        data-tipo="nome"
        formControlName="nome"
      />
      <label htmlFor="nome">Nome</label>
    </span>

    <span class="p-float-label">
      <p-dropdown
        dataKey="name"
        formControlName="especie"
        optionValue="name"
        [options]="especies"
        optionLabel="name"
        placeholder="Selecione uma especie"
        [style]="{ width: '100%' }"
      ></p-dropdown>
      <label htmlFor="especie">Espécie</label>
    </span>

    <span class="p-float-label">
      <p-inputNumber
        [style]="{ width: '100%' }"
        formControlName="idade"
        [showButtons]="true"
        inputId="stacked"
        [step]="1"
        [min]="1"
      ></p-inputNumber>
      <label htmlFor="idade">Idade (anos)</label>
    </span>
  </fieldset>

  <p-button
    type="submit"
    label="Cadastrar"
    class="align-self-center mr-3"
    [disabled]="!petForm.valid"
  ></p-button>
</form>
