@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/themes/primeone-light.css";
@import "primeflex/themes/primeone-dark.css";
@import "primeicons/primeicons.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
    background-color: #d6eaff;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: #4d4d4d;
}

fieldset, legend {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}